@import './base.scss';

#app {
  max-width: 80rem; // 1280px
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
}

.layout-mid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.layout-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;
}