// ### Colors ###

$primary: #dad04c;
$secondary: #35495e;

$white: #ffffff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;

$black: #181818;
$black-soft: #222222;
$black-mute: #282828;

// ### Breakpoints ###

$breakpoints: (
  xsmall: 0px,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
);

@mixin respond-to($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}